*{
    margin: 0;
    padding: 0;
} 


/* /////////////////////// navbar /////////////////////// */


.navbar{
  background-color: rgb(54, 50, 105);
}

.nav-btn{
  color: white;
  border: 1px solid white;
  margin-left: 0px;
  border-radius: 2px 2px 2px 50px;
}
.nav-search{
  color: red;
  border: 2px solid black;
  margin-left: 3px;
  border-radius: 2px 50px 2px 2px;
}

/* //////////////////////////////////// about ////////////////////////////////////  */

.about-section{
}

.about-section video{
  border-radius: 50% 0 50% 0;
}
.about-section button{
  border-radius: 10px;
}
.about-img{
  border-radius: 0 50% 0 50%;
}

.btn-about{
 color: black;
 border: 2px solid black;
 padding: 10px 20px 10px 20px;
}
.btn-about:hover{
  background-color: rgb(32, 49, 86);
  color: white;
}
.line{
  height: 5px;
  width: 35%;
  background:white;
  display: inline-block;
}
.team-line{
  height: 5px;
  width: 50%;
  background:white;
  display: inline-block;
}

/* ----------------------- services --------------------- */
.services{
   background-color: rgb(24, 20, 20);
}
.service-img3{
  border-radius: 100px 20px 0 10px;
}
.service-img2{  
  border-radius: 0 0 100px 100px;
}
.service-img4{
  border-radius: 50% 50% 50% 50%;
}
.service-img5{
  border-radius: 0 50% 0 50%;
}


.service-img1:hover{
  box-shadow: 5px 5px 2px white;
}
.service-img2:hover{
  box-shadow: 5px 5px 2px white;
}
.service-img3:hover{
   box-shadow: 5px 5px 2px white;
}
.service-img4:hover{
  box-shadow: 5px 5px 2px white;
}
.service-img5:hover{
  box-shadow: 5px 5px 2px white;
}
.service-img1{
  border-radius: 100px 100px 0 0;
}

/* -------------------contact---------------- */

.contact{
  background-color: rgba(101, 85, 64, 0.142);
}
.contact input{
  border-radius: 15px;
}
.contact input:hover{
  border: 1px solid black;
  color: black;
}


/* -----------------------footer----------------- */
.footer{
  background-color: rgb(48, 48, 74);
}
.footer .inkedin{
  color: rgb(58, 102, 215);
}
.footer .facebook{
  color: rgba(7, 7, 79, 0.874);
}
.footer .instagram{
  color: rgb(239, 10, 227);
}
.footer .telegram{
  color: rgb(71, 71, 231);
}


.form{
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px black;
  margin: 40px 0 40px 0;
  padding: 20px 10px 10px 10px;
}

.team-list{
  font-style: italic;
  cursor: pointer;
}
.container-copy{
  background-color: black;
  color: rgb(229, 222, 222);
  padding-top: 10px;
}
.create{
  display: flex;
  justify-content:end;
  align-items:center;
  font-style: italic;
}